.l-posts-container {
    display: grid;
    place-items: center;
    min-block-size: 100vh;
    padding: 24px;
}

.c-posts-header {
    margin: 0;
    margin-block-end: 12px;
}

.c-posts-list {
    max-width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-posts-list__item {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    margin-block-end: 12px;
    text-align: left;
}

.c-loading-message {
    font-size: 1.2em;
    font-weight: 500;
}

.c-error-message {
    color: #6c1c18;
    font-size: 1.2em;
    font-weight: 500;
}